body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

header {
  color: white;
  font-size: 50px;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

footer {
  color: gray;
  text-align: right;
}
